nav{
    background-color: #2874f0;
    height: 3.5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.Right{
    display: flex;
    align-items: center;
    justify-items: center;
}
.Left{
    display: flex;
    align-items: center;
    justify-items: center;
}
input{
    width: 25rem;
    padding: .5rem;
    margin: 0px;
    outline: none;
    border: none;
    margin-left: 2rem;
}
.searchicon{
    background-color: white;
    padding: .75rem;
    margin: 0;
    color: #2874f0;
}
h4{
    color: #f1f3f6;
}
h6{
    color: white;
    margin-right: 1rem;
    padding: .5rem 1rem;
}
.Navbtn{
    background-color: white;
    color: #2874f0;
}