
.login-form-container {
  position: fixed;
  top: -120%;
  left: 0;
  z-index: 10000;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form-container.active {
  top: 0;
}
.login-form-container form {
  margin: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background: #fff;
  width: 50rem;
}
.login-form-container form h3 {
  font-size: 2.5rem;
  color: #444;
  text-transform: unset;
  padding: 0.5rem 0;
}
.login-form-container form .box {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #333;
  margin: 0.3rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-transform: none;
}
.login-form-container form .box:focus {
  border-color: var(--orange);
}
.login-form-container form label {
  font-size: 1rem;
}
.login-form-container form .btn {
  display: block;
  width: 100%;
}
.login-form-container form p {
  padding: 0.2rem 0;
  font-size: 1rem;
  color: #666;
}
.login-form-container form p a {
  color: var(--orange);
}
.login-form-container form p a:hover {
  color: #333;
  text-decoration: underline;
}
.login-form-container #form-close {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 4.5rem;
  color: white;
  cursor: pointer;
}
.login-form-container #form-close:hover {
  color: var(--orange);
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  background: black;
  color: #fff;
  padding: 0.8rem 3rem;
  border: 0.2rem solid white;
  cursor: pointer;
  font-size: 1.7rem;
}
.btn:hover {
  display: inline-block;
  margin-top: 1rem;
  background: white;
  color: #000;
  padding: 0.8rem 3rem;
  border: 0.2rem solid black;
  cursor: pointer;
  font-size: 1.7rem;
}